<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.thebostoncalendar.com/system/events/photos/000/153/661/large/22459230_1668921443132461_8482670789952276408_o.jpg?1508919678);">
  <div class="container">
    <h1>The FUN Cocktails!</h1>
    <p>Change your life and drink a lot of Cocktails !</p>
    <%= link_to "List of cocktails", cocktails_path, class: "btn btn-ghost" %>
    <a class="btn btn-flat" href="#">Add Your Own cocktails</a>
  </div>
</div>
