.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar_color {
  background-color: #031932;
}

.navbar-brand{
  color: white;
}

.navbar{
  margin-bottom: 20px;
}
